/* .main-body {
    display: flex;
    flex-direction: column;
    background-color: #11171d;
    min-height: 80rem;
  }
  
  .body {
    display: flex;
    flex-direction: column; 
  } */
  /* .scriptOutline{
    background-color:red !important;
  } */
  .inner-body {
    
    display: flex;
    flex-direction: row; 
  }
  
  .tweet-body {
    display: flex; 
    flex-direction: column;
    width: 566px;
    height: 170px;
    margin-top:10px !important;
    /* padding-top: 100px !important; */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    /* background-color: #15202a; */
    background-color: #1DA1F2;
    /* margin-left: 25rem; */
    margin-bottom: 0.1rem;
  }
  
  .tweet-body:hover { 
    background-color: #11171d;
    border: #ffffff;
  }
  
  .picture {
    margin-left: 24px;
    margin-top: 17px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
  }
  
  .name {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-top: 19px;
    min-width: 85px;
    height: 17px;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    color: #ffffff;
  }
  
  .handle {
    margin-left: 10px;
    margin-top: 19px;
    min-width: 128px;
    height: 16px;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    color: #75797d;
  }
  
  .tweet {
    margin-left: 15px;
    margin-top: 7px;
    width: 445px;
    height: 88px;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    color: #ffffff;
  }
.tip{
  color:#14171A
}
.tipButton{
  /* background-color: #011926 !important; */
}
  .tipButton:hover{
    background-color: #1DA1F2;
}